* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}
/* -----NAVBAR------- */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0);
}
.navbar ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}
/* ----------- */

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

#main{
  background:#5276c5;
}

.wrapper{
  padding-top:16%;
  /* justify-content: center;
  align-content: center; */
  width: 95%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  grid-template-rows: repeat(4,minmax(150px,auto));
  grid-gap:2em;
  margin: 3em 1em 3em 1em;
}

.box {
  border: 2px solid rgb(39, 39, 39);
  border-radius: 30px;
  background-color: #5c5b5b;
  /* justify-content: center;
  align-items: center; */
  place-items: center;
  height: 150px;
  width: auto;
}

.box > p{
  /* text-align: center;
  vertical-align: center; */
  margin-top: auto;
  margin-bottom: auto;
  /* align-content: center; */
  padding-top: 65px;
} 

.box-item-1{
  background: url("https://images.squarespace-cdn.com/content/v1/5202d1b3e4b099a0812c51a3/1541043476617-8XDP2509IE96SZRMKZCQ/ke17ZwdGBToddI8pDm48kP361xgIDOYo3Z5qSsLEEtRZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVEw6qI6HwvcYV8S40pyiuYYSa5-th3U1ySJEZkjcfZsJhDm7bb9nbLVL8j39Ozt4s0/The-Iron-Citadel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: scale-down;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

}
.box:hover{
  background: url("https://images.squarespace-cdn.com/content/v1/5202d1b3e4b099a0812c51a3/1541043476617-8XDP2509IE96SZRMKZCQ/ke17ZwdGBToddI8pDm48kP361xgIDOYo3Z5qSsLEEtRZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVEw6qI6HwvcYV8S40pyiuYYSa5-th3U1ySJEZkjcfZsJhDm7bb9nbLVL8j39Ozt4s0/The-Iron-Citadel.jpg");
  -webkit-filter: blur(3px);
	filter: blur(3px);
}

.title{
  font-family: Montserrat;
  font-size:3em;
  font-weight:bold;
}
.container {
  
  display: grid;
/*   grid-template-columns: 150px 150px 150px 150px; */
  grid-template-columns: repeat(4,minmax(230px,auto));
  grid-template-rows: 150px 150px 150px;
  grid-gap: 2rem;
  column-gap:4rem;
    justify-content: center;
/*   align-items: center; */
}


/* OTHER STYLES */

body {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

